.DS_Store
GTB_Salient_Assignment.html
GTB_Salient_Assignment.pdf
GTB_Salient_Assignment.zip
test_file.csv
USW00014756.csv
archive.zarr/.zattrs
archive.zarr/.zgroup
archive.zarr/.zmetadata
archive.zarr/ghcnd_id/.zarray
archive.zarr/ghcnd_id/.zattrs
archive.zarr/ghcnd_id/0
archive.zarr/precip/.zarray
archive.zarr/precip/.zattrs
archive.zarr/precip/0.0
archive.zarr/precip/1.0
archive.zarr/precip/2.0
archive.zarr/time/.zarray
archive.zarr/time/.zattrs
archive.zarr/time/0
archive.zarr/time/1
archive.zarr/tmax/.zarray
archive.zarr/tmax/.zattrs
archive.zarr/tmax/0.0
archive.zarr/tmax/1.0
archive.zarr/tmax/2.0
archive.zarr/tmin/.zarray
archive.zarr/tmin/.zattrs
archive.zarr/tmin/0.0
archive.zarr/tmin/1.0
archive.zarr/tmin/2.0
